@model UbiTheJudge.Models.Quartet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Quartet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D1OOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D1OOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.D2OOA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.D2OOA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JS_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JS_Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.US_Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.US_Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuartetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
