@model IEnumerable<UbiTheJudge.Models.UbiUser>

@{
    ViewBag.Title = "UsersRanked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UsersRanked</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UbiUserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.UbiUserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UbiUserId })
        </td>
    </tr>
}

</table>
